<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor Select</title>
</head>
<body>
    <article>
        <a href ="/editor/basic1">upload basic</a>
        <a href ="/editor/basic2">upload basic - multi</a>
        <a href ="/editor/myeditor">Sensnote</a>
        <a href ="/editor/summernote">SummerNote</a>
        <a href ="/editor/toastui">ToastUI</a>
    </article>
</body>
</html>