<!DOCTYPE html>

<head>
    <meta charset='utf-8'>
    <!-- <link rel="stylesheet" href="/assets/css/md_css.css"> -->
    <style>
        #markdown{
            width: 450px;
            height: 600px;
            border: 1px solid rebeccapurple;
        }
    </style>
</head>

<body>
    
    <form action="/api/mark" method="post">
        <!-- <a href="#" id="raw-switch" class="raw-switch">Raw: <span></span></a> -->
        <!-- <aside id="markdown" name ="markdownContent" contenteditable></aside> -->
        <textarea id="markdown" name ="markdownContent" ></textarea>
        <input type ="submit" value="submit" id ="submit" width="100px"/>
        <section id="output-html"></section>
    </form>
    <!-- <script>
        document.querySelector('#submit').addEventListener('click',function(e){
            e.preventDefault();

        })
    </script> -->

    <script src="/assets/js/markdown.js">

    </script>
</body>

</html>